.contributor-section{
  min-height: 100vh;
  padding-top: 7em;
}

.contributor-section h1{
  display: flex;
  justify-content: center;
  margin: 80px;
  text-decoration: underline double #12135a;
  /* text-decoration: underline double #6b6cc0; */
  font-weight: bold;
  margin-bottom: 4rem;
  color: #12135a;
}

.gallery{
  display: flex;
  justify-content: space-between;
}

.contributor-card .card-body{
  display: flex;
  flex-direction: column;
  color: var(--white)
}

.contributor-card .card-body a{
  color: var(--pink)
}

@media(max-width: 700px){
  .contributor-card .card-body{
    flex-direction: column;
  }
}