footer{
  margin-top: 5em;
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  line-height: 20px;
  font-size: 13px;
  padding-top: 50px;
}
.footer-row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-col{
  flex-basis: 25%;
  padding: 10px;
}
.footer-col:nth-child(2), :nth-child(3){
  flex-basis: 15%;
}
.logo{
  width: 80px;
  margin-bottom: 30px;
}
.footer-col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
  font-size: 16px;
  font-weight: 900;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul{
  padding-left: 0;
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color: #fff;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-regular{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  color: #ccc;
  cursor: pointer;
}
form button .fa-solid{
  font-size: 16px;
  color: #ccc;
}
.social-icons .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.welcome{
  text-align: center;
}

.line{
  width: 100%;
}

.underline{
  margin-top: 10px;
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving{
  0%{
      left: -20px;
  }
  100%{
      left: 100%;
  }
}
@media (max-width: 700px){
  .footer{
      bottom: unset;
  }
  .footer-col{
      flex-basis: 100%;
  }
  .footer-col:nth-child(2), :nth-child(3){
      flex-basis: 100%;
  }
}
