@import "./Partials.css";
@import "./Navbar.css";
@import "./Main.css";
@import "./Footer.css";
@import "./Contributors.css";
@import "./Resources.css";
@import "./About.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: var(--color);
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}
body::-webkit-scrollbar-thumb:hover{
    background-color: var(--dark-blue);
}
body::-webkit-scrollbar-track{
    background-color: var(--pink);
}
body{
    background: var(--white);
}

.offcanvas ::-webkit-scrollbar{
    display: none;
}

.btn-secondary{
    padding: 12px;
    margin: 12px;
    background: var(--pink);
    color: var(--white);
}

.btn-secondary:hover{
    background: var(--blue);
}

.footer{
    margin-top: 2em;
}

span, .pink{
    color: var(--pink);
}

.i-frames{
    margin: 1em 0;
    border-radius: 15px;
    padding: 20px;
}

.blue{
    color: var(--blue);
}

.orange{
    color: var(--orange);
}

.object-fit{
    object-fit: cover;
}