@import "./Partials.css";
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.btn-custom{
    background: var(--blue);
    font-size: 1.3em;
    color: var(--main) !important;
}