@import "./Partials.css";
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--white);
}

.btn-custom{
    background: var(--blue);
    font-size: 1.3em;
    color: var(--white) !important;
    transition: all 0.3s;
}
.btn-custom:hover{
    background: var(--dark-blue);
}

.dev-track{
    color: var(--white) !important;
    margin-bottom: 4em;
}

.dev-track .card-body{
    display: flex;
    flex-direction: column;
}