@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
:root {
    --white: #FAEDF0;
    --black: #424242;
    --orange: #d6680b;
    --dark-blue: #161853;
    --blue: #292C6D;
    --pink: #EC255A;
    --font-main: 'Fira Sans';
}